body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.center {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#dropArea {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto 20px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 10px;
}

#textField {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    box-sizing: border-box;
    margin-top: 10px;
    color: #000000;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    color: #ffffff; /* Text color for buttons */
    width: 80%;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.button:not(:last-child) {
    margin-right: 15px;
}

#selectbutton,
#setbutton {
    background-color: #5a8a75; /* Greenish color */
}

#stopbutton {
    background-color: #af5d5d; /* Reddish color */
}

#stopbutton:hover {
    background-color: #e65531;
}

#selectbutton:hover,
#setbutton:hover {
    background-color: #719e92; /* Lighter greenish color */
}

/* Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 200px;
    background-color: #444; /* Darker color for snackbar */
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px 2px;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 30px;
    font-size: 12px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.75s 2.0s;
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
}
